// fonts
@font-face {
    font-family: 'noto-reg';
    src: 
         url('../fonts/noto/notosans-regular-webfont.woff') format('woff'),
         url('../fonts/noto/notosans-regular-webfont.woff2') format('woff2'),
         url('../fonts/noto/notosans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'noto-bold';
    src: 
         url('../fonts/noto/notosans-bold-webfont.woff') format('woff'),
         url('../fonts/noto/notosans-bold-webfont.woff2') format('woff2'),
         url('../fonts/noto/notosans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/*============= GENERIC STYLES
==============================================================================*/
.section {
	body, select, input, textarea {
		color: gray;
		font-weight: 400;
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: none;
		-webkit-backface-visibility: hidden;
		font-size: 93%;
		@include bp(eight-column) { font-size: 95%; }
		@include bp(twelve-column) { font-size: 98%; }
		@include bp(sixteen-column) { font-size: 100%; }
		line-height: 1.25;
	}
}

// Clearfix
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
html {
	overflow-x: hidden;
}
body {
	background-color: #fff;
	overflow-x: hidden;
	font-family: $font-base, sans-serif;
	.body-wrapper {
		margin: 0 auto;background-color: #fff;
	}
}

::-moz-selection { color: #fff; background: #198c7a; }
::selection { color: #fff; background: #198c7a; } 

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a { 
	outline: none; border: none; background: #198c7a; color: white; text-decoration: none; padding: 5px; 
	transition: .2s;
	&:hover { 
		background: #116154;
		} 
	}
iframe {
	max-width: 100%;
}
img {
	max-width: 100%; // fluid images
	height: auto; // Force correct aspect ratio in case we need it.
	vertical-align: middle;
}

/*============= PATTERNS
==============================================================================*/
.section {position: relative;overflow: hidden;}

// TYPOGRAPHY
p { color: #000;}
h1, h2, h3, h4, h5, h6 {font-family: $font-base;color:gray;font-weight: normal;text-transform: uppercase;letter-spacing: 2px;}

// FORMS 
fieldset {border:none;}
select, input, textarea,
[type="submit"] {
	font-family: $font-base;
}
input { border-radius: 0; }// Getting rid of all the default border radius that gets applied to inputs on mobile safari

select:focus,
textarea:focus,
input:focus {
	font-size: 1em;
}

// LISTS
nav ul,
nav ol { margin: 0; padding: 0; list-style: none; }

// WRAPPER
.wrapper { // Edge padding is half a gutter
	margin: 0 auto; position: relative; z-index: 1; width: 100%;
	@include bp(four-column, true) { width: rem(300px);  }
	@include bp(eight-column, true) { width: rem(600px);  }
	@include bp(twelve-column, true) { width: rem(960px);padding: 0 20px;  }
	@include bp(sixteen-column, true) { width: rem(1104px);  }
	@include pie-clearfix();
}

/*============= BUTTONS
==============================================================================*/
.btn {
	text-transform: uppercase;text-decoration: none;
	max-width: 100%;width: 80%;
	margin: 15px auto;padding: 0 10px;
	text-align: center;font-family: $font-base ;font-weight: normal;font-size: 18px;
	height: 35px;line-height: 35px;
	border-radius: 10px;border: none;outline: none;
	color: white;
	display: block;
	transition: .3s;
}
.btn-gray {
	background: gray;
	&:hover {
		background: #e5e5e7;color:darken(gray,15%);
	}
}
.btn-blue {
	background: blue;
	&:hover {
		background: #ecf5fb;color:darken(blue,15%);
	}
}
